# 1. 변수

In [4]:
print('test')

name = '전민우'
birth_year = 1990

print(name)

test
전민우

In [5]:
print(birth_year)

1990

In [6]:
print(name, birth_year)

전민우 1990

# 3. 자료형

## 1) 숫자형

### (1) 표현

In [7]:
# 정수

x = 1
print(type(x))

f = 1.0
print(type(f))

money = 30_000_000_000
print(money)

# 실수

a = 3.14
b = -2.5
c = 0.00000001 # 1e-08
d = 1e+10 
print(a, b, c, d)

<class 'int'>
<class 'float'>
30000000000
3.14 -2.5 1e-08 10000000000.0

### (2) 산술/복합 연산

In [8]:
div = 12 / 3

# 나눈 몫은 실수(4.0)

print(type(div))
print("남은 몫 :", div)

<class 'float'>
남은 몫 : 4.0

### (3) 예제

반복할 횟수 구하기: 100개의 게시물을 한 페이지에 30개씩 보여주려면 총 몇 페이지가 필요할까요?

In [36]:
content = 100
size = 30

page = content // size
rest = content % size

if(rest > 0) :
    page += 1

print(page)

4

출생년도가 1982일 때 홀수, 짝수 판단하기

In [37]:
birth_year = 1982

result = birth_year%2

## 2) ⭐ 문자열

### (1) 표현

In [50]:
message = 'test'
print(message)
print(type(message))

text = 'i\'m fine'
print(text)

text2 = "i'm fine"
print(text2)

text3 = '나는\n괜찮아'
print(text3)

text3 = """
나는
괜찮아
"""
print(text3)

test
<class 'str'>
i'm fine
i'm fine
나는
괜찮아

나는
괜찮아

### (2) 연산

In [61]:
hello = '안녕'
name = '민우'

print(hello*3 + name)

print(len(name))

textss = '  test  '
print(textss)
print(textss.strip())

안녕안녕안녕민우
2
  test
test

### (3) 인덱싱/슬라이싱

In [3]:
p_number = '900625-1183214'

result = p_number[:6]
tt = p_number[7]
last = p_number[-1]

gender = 'male' if p_number[7] == '1' else 'female'

print(result)
print(last)
print(gender)
print(p_number[-12:-8])

name = 'minwoo'
name.replace('minwoo', 'jon')

900625
4
male
0625

'jon'

#### 슬라이싱

문제. 주민등번호 뒷자리에서 성별을 제외하고 *로 표시해주세요.

In [82]:
p_number = '900625-1183214'
print(p_number[:8] + '******')
print(p_number[:8] + '*'*6)

900625-1******
900625-1******

### (4) 문자열 포매팅(f-string)

### (5) 관련 메서드

#### ⭐ 문자열 나누기(split)

예제. 파일 확장자 찾기

#### 문자열 대체(replace)

#### 대/소문자 변환(lower, upper)

#### 공백 제거(lstrip/rstrip/strip)

#### 카운트 세기(count)

예제. 리뷰

짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿

## 3) 리스트(List)

### (1) 표현

### (2) 인덱싱/슬라이싱

#### 인덱싱

#### 슬라이싱

예제.

```
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
```

* "cat" 출력

예제.

```
data = [25, 'apple', 3.13, ['dog', 'cat', 'rabbit']]
```

* ['dog', 'cat'] 출력

### (2) 연산

#### 덧셈

#### 곱셈

### (3) range

### (4) 수정/추가/삭제

#### 수정

#### 추가

#### 삭제

예제. 게시물 코드

```
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]
```

## 4) 튜플(Tuple)

### (1) 표현

## 5) 딕셔너리(Dictionary)

### (1) 표현

### (2) 딕셔너리 다루기

예제. 날씨 데이터
* 'city'키 'Busan'으로 수정하기
* 미세먼지(`pm10`)키 추가하기 (값: 34)
* 'forecast' 키에 ['Rainy', 'Rainy'] 추가하기

```
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}
```

### (3) 관련 메서드

#### 조회

#### 삭제

## 6) 집합

### (1) 표현

예제. 이메일 중복 제거

```
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
```

### (2) 요소 추가/제거

#### 추가

#### 제거

### (3) 연산

## 7) 불