# 1. 변수

In [1]:
print('test')

name = '전민우'
birth_year = 1990

print(name)

test
전민우

In [2]:
print(birth_year)

1990

In [6]:
print(name, birth_year)

전민우 1990

# 3. 자료형

## 1) 숫자형

### (1) 표현

In [7]:
# 정수

x = 1
print(type(x))

f = 1.0
print(type(f))

money = 30_000_000_000
print(money)

# 실수

a = 3.14
b = -2.5
c = 0.00000001 # 1e-08
d = 1e+10 
print(a, b, c, d)

<class 'int'>
<class 'float'>
30000000000
3.14 -2.5 1e-08 10000000000.0

### (2) 산술/복합 연산

In [8]:
div = 12 / 3

# 나눈 몫은 실수(4.0)

print(type(div))
print("남은 몫 :", div)

<class 'float'>
남은 몫 : 4.0

### (3) 예제

반복할 횟수 구하기: 100개의 게시물을 한 페이지에 30개씩 보여주려면 총 몇 페이지가 필요할까요?

In [36]:
content = 100
size = 30

page = content // size
rest = content % size

if(rest > 0) :
    page += 1

print(page)

4

출생년도가 1982일 때 홀수, 짝수 판단하기

In [ ]:
birth_year = 1982
result = birth_year%2 

print(result)

0

## 2) ⭐ 문자열

### (1) 표현

In [ ]:
message = 'test'

print(message)
print(type(message))

text = 'i\'m fine'

print(text)

text2 = "i'm fine"

print(text2)

text3 = '나는\n괜찮아'

print(text3)

text3 = """
나는
괜찮아
"""

print(text3)

test
<class 'str'>
i'm fine
i'm fine
나는
괜찮아

나는
괜찮아

### (2) 연산

In [ ]:
hello = '안녕'
name = '민우'

print(hello*3 + name)
print(len(name))

textss = '  test  '

print(textss)
print(textss.strip())

안녕안녕안녕민우
2
  test
test

### (3) 인덱싱/슬라이싱

In [ ]:
p_number = '900625-1183214'

result = p_number[:6]
tt = p_number[7]
last = p_number[-1]

gender = 'male' if p_number[7] == '1' else 'female'

print(result)
print(last)
print(gender)
print(p_number[-12:-8])

900625
4
male
0625

'jon'

#### 슬라이싱

문제. 주민등번호 뒷자리에서 성별을 제외하고 *로 표시해주세요.

In [ ]:
p_number = '900625-1183214'

print(p_number[:8] + '******')
print(p_number[:8] + '*'*6)

900625-1******
900625-1******

### (4) 문자열 포매팅(f-string)

In [ ]:
name = 'minwoo'
hello = f'{name}님 안녕하세요'

print(hello)

minwoo님 안녕하세요

### (5) 관련 메서드

#### ⭐ 문자열 나누기(split)

In [ ]:
join = '강남구,광진구,서초구'
array = join.split(',')

print(array[1])

광진구

예제. 파일 확장자 찾기

In [ ]:
file = 'test.txt'

print(file.split('.')[1])

txt

#### 문자열 대체(replace)

In [ ]:
email = 'jmw@naver.com'
email = email.replace('jmw', 'minwoo')

print(email)

minwoo@naver.com

#### 대/소문자 변환(lower, upper)

In [ ]:
gender = 'mmffFFm'
gender = gender.lower()

print(gender)

mmffffm

#### 공백 제거(lstrip/rstrip/strip)

In [14]:
blank = '   test   '

print(blank.strip())
print(blank.lstrip())
print(blank.rstrip())

test
test
   test

#### 카운트 세기(count)

In [ ]:
gender = 'mmffFFm'
gender = gender.lower()

print(gender.count('m'))

3

예제. 리뷰

짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿

In [17]:
menu = '''
짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿
'''

print(menu.count('짜장면'))

2

## 3) 리스트(List)

### (1) 표현

In [22]:
mylist = [1,2,3,4,5]

print(mylist[2])
print(type(mylist))

3
<class 'list'>

In [ ]:
income = [100, 300, 600]

print(sum(income))

1000

In [31]:
arr = [1, 2, 3, '1', (1, 2), {1 : 2}, {'3' : 4}]

print(arr[5][1])

2

### (2) 인덱싱/슬라이싱

#### 인덱싱

#### 슬라이싱

예제.

```
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
```

* "cat" 출력

In [39]:
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]

print(data[3][1])
print(data[-1][1])

cat
cat

예제.

```
data = [25, 'apple', 3.13, ['dog', 'cat', 'rabbit']]
```

* ['dog', 'cat'] 출력

In [40]:
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]

print(data[3][0], data[3][1])
print(data[3][0:2])
print(data[3][:2])

print(data[-1][0], data[3][1])
print(data[-1][0:2])
print(data[-1][:2])

dog cat
['dog', 'cat']
['dog', 'cat']
dog cat
['dog', 'cat']
['dog', 'cat']

### (2) 연산

#### 덧셈

In [ ]:
arr1 = [1, 2, 3]
arr2 = ['1', '2', '3']

print(arr1 + arr2)

jan =[1, 2, 3]
fab =[1, 2, 3] 

print(sum(jan+fab))

[1, 2, 3, '1', '2', '3']
12

#### 곱셈

In [44]:
arr = [1,2,3]

print(arr * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### (3) range

In [ ]:
print(list(range(3, 10))) # start / end-1 / step

print(list(range(2, 11, 2)))

print(list(range(5, -1, -1)))

[3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8, 10]
[5, 4, 3, 2, 1, 0]

### (4) 수정/추가/삭제

#### 수정

In [ ]:

arr = list(range(8))
arr[1] = '일' # 한개 indexing은 한개만 할당
arr[5] = '오'
arr[2:4] = ['two', 'three']

# 슬라이싱(복수)이면, 할당도 복수개 해줘야 함
arr[3:] = '하하하' # 문자열은 기본적으로 열로 인식하여 복수개로 인정해줌 '하하하' = '하'*3
arr[:4] = [10, 10, 10] # 3개를 슬라이싱하면 3개를 할당 필요

print(arr)

# 배열 형태로 추가하면 문자열 처리되지 않음
arr2 = list(range(8))
print(arr2)

start_index = 3
end_index = 8

arr2[3:8] = ['하하하'] * (end_index - start_index) 
print(arr2)

[10, 10, 10, '하', '하']
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, '하하하', '하하하', '하하하', '하하하', '하하하']

#### 추가

In [ ]:
arr = [1,2,3,4,5]

arr = arr + [6]
print(arr)

arr = arr + [7,8,9]
print(arr)

arr.append(10)
print(arr)

# 배열 그 자체로 추가
arr.append([11, 12, 13])
print(arr)

# 배열의 요소로 각각 추가
arr.extend([14, 15, 16])
print(arr)

# target index 위치에 value 삽입(기존 데이터는 뒤로 밀림)
arr.insert(0, 0) # (target, value)
print(arr)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12, 13]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12, 13], 14, 15, 16]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12, 13], 14, 15, 16]

#### 삭제

In [152]:
arr = list(range(0, 101, 10))

# index 기준으로 삭제
del arr[2]
print(arr)

# value 기준으로 삭제
arr.remove(arr[6])
print(arr)

arr.remove(arr[-2])
print(arr)

# pop
print(arr.pop())
print(arr)

[0, 10, 30, 40, 50, 60, 70, 80, 90, 100]
[0, 10, 30, 40, 50, 60, 80, 90, 100]
[0, 10, 30, 40, 50, 60, 80, 100]
100
[0, 10, 30, 40, 50, 60, 80]

예제. 게시물 코드 : "ID003" 데이터가 문제라 제거 필요

```
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]
```

In [170]:
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]
pop_data = post_data.pop(2)

error_data = []
error_data.append(pop_data)
print(error_data)

['ID003']

## 4) 튜플(Tuple) - 읽기 전용(불변)

### (1) 표현

In [165]:
tuple = ()
print(type(tuple))

<class 'tuple'>

In [175]:
tuple = (10)
print(tuple)
print(type(tuple)) # type이 int로 나옴

tuple2 = (10,)
print(type(tuple2)) # type이 tuple로 나옴

10
<class 'int'>
<class 'tuple'>

In [178]:
fruits = ('apple', 'banana', 'cherry')
# fruits[1] = 'test' 
# del fruits[1]

## 5) 딕셔너리(Dictionary)

### (1) 표현

In [ ]:
dic = {}
print(type(dic))

<class 'dict'>

### (2) 딕셔너리 다루기

In [181]:
# pandas - 특정 카테고리 데이터 일괄 변경
score_data1 = {
    '이름' : ['t1', 't2'],
    '점수' : [10, 20]
}

# 특정 사람의 점수
score_data2 = {
    't1' : 10, 't2' : 20
}

# api(json) - insert/paging 용이
score_data3 = [
    {'name' : 't1', 'score' : 100}, 
    {'name' : 't2', 'score' : 200}
]

예제. 날씨 데이터
* 'city'키 'Busan'으로 수정하기
* 미세먼지(`pm10`)키 추가하기 (값: 34)
* 'forecast' 키에 ['Rainy', 'Rainy'] 추가하기

```
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}
```

In [ ]:
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}

weather_data['city'] = 'busan' # 기존 element 수정
weather_data['pm10'] = 34 # element 추가
weather_data['forecast'].extend(['Rainy', 'Rainy']) # append()로 하면 배열 자체가 더해짐

print(weather_data)

{'city': 'busan', 'temperature': 22.5, 'humidity': 60, 'forecast': ['Sunny', 'Cloudy', 'Rainy', 'Rainy', 'Rainy'], 'pm10': 34}

### (3) 관련 메서드

#### 조회

In [ ]:
student = {"name": "John", "age": 30, "height" :180.7, "score" : 30}

print(list(student.keys())) # 권장하는 for 루프 형태 : 순수 list가 아니므로 형변환 권장
print(type(student.keys()))

print(list(student.values())) 
print(type(student.values()))

print(list(student.items()))
print(type(student.items()))

#print(student['weight']) # error
print(type(student.get('weight'))) # NoneType 결과 (== optional)
print(student.get('weight') == None) # True
print(student.get('weight') == False) # False ## nullish 개념이 아님
print(student.get('weight', 'none exist key')) # 대체값 설정

student_list = ['a', 'b', 'c']
student_dict = {'a' : 'y'}

# 참석하지 않은 사람이 있으면, 참석 목록에 추가하여 참석 상태로 바꿈
for s in student_list:
    if s not in student_dict:
        student_dict[s] = 'y'

print(student_dict)

['name', 'age', 'height', 'score']
<class 'dict_keys'>
['John', 30, 180.7, 30]
<class 'dict_values'>
[('name', 'John'), ('age', 30), ('height', 180.7), ('score', 30)]
<class 'dict_items'>
<class 'NoneType'>
True
False
none exist key
{'a': 'y', 'b': 'y', 'c': 'y'}

#### 삭제

In [ ]:
p_list = {'a': 'y', 'b': 'y', 'c': 'y'}
p_list.clear()
print(p_list) # None이 아니라 {} 빈배열

{}

## 6) 집합

### (1) 표현

예제. 이메일 중복 제거

```
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
```

In [221]:
# 중복 제거
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
email_set = set(emails)

print(email_set)
print(type(email_set))

# print(email_set[0]) # 'set' object is not subscriptable

{'user2@example.com', 'user1@example.com', 'user3@example.com'}
<class 'set'>

### (2) 요소 추가/제거

#### 추가

In [ ]:
myset = {1,2,3,4,5}

myset.add(6)
print(myset)

myset.add(5) # 중복 추가 불가
print(myset)

myset.update([4,7,8]) # 복수개 추가
print(myset)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8}

#### 제거

In [ ]:
myset = {1,2,3,4,5}

# 제거는 같으나 remove는 없으면 KeyError: 6 발생
# myset.remove(6)
myset.discard(6) # 유연하게 삭제

### (3) 연산

In [244]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

union_set = set1 | set2 # 합집합
union_set = set1.union(set2) 
print(union_set)

cross_set = set1 & set2 # 교집합
cross_set = set1.intersection(set2)
print(cross_set)

except_set = set1 - set2 # 차집합
except_set = set1.difference(set2)
print(except_set)

sym_set = set1 ^ set2 # 대칭 차집합(합집합에서 교집합을 뺀 set)
sym_set = set1.symmetric_difference(set2)
print(sym_set)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

## 7) Bool

In [ ]:
flag = True

if(flag): 
    print('yes!')

num = [1,2,3,4,5]    

if 6 not in num:
    print('6은 nono')

yes!
6은 nono